.app {
  background-color: #155077;
  padding-top: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(4, 4, 44);
}

.app h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  background-color: #2e97ec;
}
.app h1 span {
  color: #2e97ec
  padding 0 0.2em;
  background-color: #04377a
}
.app p {
  margin-bottom: 1.5em;
  color:#fafafa
}
.app img {
  width: 350px;
  margin:2em 0;
}
