
.App {
  
  text-align: center;
  background-color: #155077;
  color: white;
}

input {
  margin: 1%;
  border: 80px;
  color: rgb(226, 94, 47);
}

button {
  margin: 2%;
}

a {
  color: white;
  font-size: 80%;
}

.a-logo {
  color: white;
  font-size: 60%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1B6090;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-logo {
  background-color: #1B6090;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: top;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
